<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <route>
        {% for route in static_routes %}
          {# Replace this comment with the Cisco-IOS-XE-native XML elements for one static route. #}
          {# Required values are available as route.prefix, route.mask, and route.next_hop. #}
        {% endfor %}
      </route>
    </ip>
  </native>
</config>
